<div id="footer">
    <div id="footer-inner">          <div class="link-container">
        
          <p><a href="./contact.php" class="test-contact-link">Contact Us</a></p>

          <p><a href="https://discord.gg/shc9pmJxRR" class="test-contact-link">Discord server</a></p>

          <p><a href="https://github.com/SuperDumbMario2/Kamekverse" class="test-contact-link">Source code</a></p>
        
        <p id="copyright">Copyleft 2026 SuperDumbMario2. UNRELATED TO NINTENDO, HATENA AND OTHER COMPANIES BEHIND MIIVERSE</p>
      </div>
    </div>
  </div>